/**SHOHAN**/
*{
  margin:0px;
  padding:0px;
}
img{
  max-width:100%;
}
.header_out{
  height:85px;
  border-bottom:5px solid #F6F7F7;
  top: 0;
  content: "";
  position: fixed;
  width: 100%;
  background: #fff;
}
.header{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.logo{
  float: left;
  margin-top: 20px;
}
.logo img{
  
}
.nav_bar{overflow:hidden; float: right;margin-top: 20px;}
.nav_bar ul{list-style: none;}
.nav_bar ul li{float: left; padding: 15px;}
.nav_bar ul li:hover{background-color:#0081FF; color: #fff }

.nav_bar ul li a { text-decoration: none; color:#B1BED1; padding: 15px;font-weight: 900;}
.inner{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  
  
}
.slider{
  margin-top: 132px;
}
.slider h1{
  text-align: center;
  color: #102758;
  
  
  font-size: 58px;
  margin-top: 53px;
}
.slider h1 span{
  color: #0081FF;
}

.slider p{
  text-align: center;
  color: #B1BED1;
  font-size: 18px;
  margin-top: 14px;
}
.slider img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  margin-top: 33px;
}

.mid {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  
  margin-top: 48px;
}
.mid .fi h1{
  color: red;
  font-size: 58px;
  text-align: right;
}
.mid .fi p{
  text-align: right;
  color: #B1BED1;
}
.mid h2{
  float: 
}
.mid .fi{
  width: 363px;
  float: left;
}
.mid .f1{
  width: 228px;
  float: right;
  
  margin-top: 5px;
  font-size: 21px;
}
.mid .f1 h2{
  color: #1B325F;
}
.last{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 57px;
}
.single{
  width: 250px;
  background-color: #FDEBED;
  float: left;
  
  
  padding: 33px;
  margin: 6px;
  border-radius: 10px;
  height: 300px;
  margin-bottom: 100px;
}
.single:nth-child(2){
  background-color: #EBF9F4;
}
.single:nth-child(3){
  background-color: #FFF7E8;
}
.single h2{
  color: #1B325F;
  margin-top: 26px;
}
.single p{
  color: #B1BED1;
  margin-top: 16px;
}




